@model ToDoVM

<div class="row">
    <div class="col-md-2">
        <form asp-action="Filter" method="post">
            <div class="mb-3">
                <label class="form-label">Category:</label>
                <select name="filters" class="form-select" value="@Model.Filters.Category" asp-items="@Model.Categories">
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Due:</label>
                <select name="filters" class="form-select" value="@Model.Filters.Due" asp-items="@Model.DueTypes">
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Status:</label>
                <select name="filters" class="form-select" value="@Model.Filters.Status" asp-items="@Model.Statuses">
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
            <a asp-action="Index" asp-route-filter="" class="btn btn-primary">Clear</a>
        </form>
    </div>
    <div class="col-md-10">
        <form asp-action="MarkComplete" method="post" asp-route-filter="@Model.Filters.FilterString">
            <table class="table table-bordered table-striped mt-2">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th class="w-25"></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (ToDo task in Model.ToDos) {
                    string overdue = task.Overdue ? "bg-warning" : "";
                    <tr>
                        <td>@task.Description</td>
                        <td>@task.Category</td>
                        <td class="@overdue">@task.DueDate?.ToShortDateString()</td>
                        <td class="@overdue">@task.Status</td>
                        <td>
                        @if (task.StatusId == (char)Status.Open) {
                            <button type="submit" class="btn btn-primary btn-sm" name="@nameof(ToDo.Id)" value="@task.Id">
                                Mark Completed
                            </button>
                        }
                        </td>
                    </tr>
                } 
                </tbody>
            </table>
        </form>
        <form asp-action="DeleteComplete" method="post" asp-route-category="@Model.Filters.Category" asp-route-due="@Model.Filters.Due" asp-route-status="@Model.Filters.Status">
            <a asp-action="Add" class="btn btn-primary">Add new task</a>
            <button type="submit" class="btn btn-primary">Delete completed tasks</button>
        </form>
    </div>
</div>